{% extends 'base_index.html' %}
{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div>
        <h1>About</h1>

        <p>This is a memo game. Have fun.</p>

        <p>Thanks go to:
        <ul>
            <li><a href="http://openclipart.org/">Open Clip Art</a> for graphics for tiles</li>
            <li><a href="http://djangodash.com/">Django Dash</a> for making this happen</li>
            <li><a href="http://solution4future.com/">Solutions4Future</a> for letting Kamil go for a weekend</li>
        </ul>
        </p>
    </div>

{% endblock %}