<!DOCTYPE html>
<html>
<head>
    <title>Memo Games</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

</head>
<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Memo Game!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/gameuidemo">Game UI Demo</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/signup">Signup</a></li>
          	{% else %}
          	<li> {{user.username}} </li>
          	{% endif %}
          	
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	{% if user.is_authenticated %}
            <li class="active"><a id="logout" href="/accounts/logout">Logout</a></li>
          	{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="main" class="container">
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/custom.js"></script>

</body>
</html>