{% extends 'base_index.html' %}
{% load socketio_tags %}
{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Memo GAME</h1>
    </div>
    <div class="row">
    	<div class="col-md-6">
	        <table id="playerTable" class="table table-hover">
				<thead><tr><td><b>Player</b></td><td><b>State</b></td><td>req</td></tr></thead>			
			</table>
		</div>
		<div class="col-md-6">
	    	<h2>Games in progress</h2>
	    </div>

		
    </div>

<div id="username">{{ user.username }}</div>
{% endblock %}
{% block js_import %}
{% socketio %}
<script src="{{ STATIC_URL }}js/fabric.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>
{% endblock %}
