{% extends 'base_index.html' %}
{% load socketio_tags %}
{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Memo GAME</h1>
    </div>
    <div class="row">
    	<div class="col-md-6">
	        <table id="playerTable" class="table table-hover">
				<thead><tr><td><b>Player</b></td><td><b>State</b></td><td>req</td></tr></thead>			
			</table>
		</div>
		<div class="col-md-6">
	    	<h2>Games in progress</h2>
	    </div>

		
    </div>

{% endblock %}
{% block js_import %}
{% socketio %}
<script src="{{ STATIC_URL }}/js/fabric.js"></script>
<script>
	$(document).ready(function(){
		//var json = '{"players" : [	{"username":"tomek","gamestate":0},{"username":"rysiek","gamestate":1}, {"username":"kamil","gamestate":2}]}';
		
		var usocket = io.connect('/users');
		
		usocket.on('join', function(users){
			var tbl_body = "";
			for (var i = 0; i < users.length; i++) {
				tbl_body += "<tr><td>" + users[i].username + "</td>" + "<td>" + users[i].gamestate + "</td>";
				if(users[i].gamestate == 2  ){
					tbl_body += "<td></td>";
				}
				else{
					tbl_body += "<td><button>Small button</button></td>";
				}
				tbl_body += "</tr>";
			}
			$('#playerTable').append(tbl_body);	
		});		
		
		usocket.on('connected', function(user) {
			var tbl_body = "";
			tbl_body += "<tr><td>" + user.username + "</td>" + "<td>" + user.gamestate + "</td></tr>";
			if(user.gamestate == 2  ){
				tbl_body += "<td></td>";
			}
			else{
				tbl_body += "<td><button>Small button</button></td>";
			}
			$('#playerTable').append(tbl_body);	
		});
		
		
		usocket.emit('join', {'username':'rysiek'});			
		
	});
	
	
	
</script>
{% endblock %}
