{% extends 'base_index.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <h1>Logout</h1>
    </div>
<div class="row">

    <p>Are you sure you want to log out? We'll miss you.</p>

    <form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
        <button type="submit" class="btn btn-warning">Sign Out</button>
    </form>
</div>
{% endblock %}